@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .failed-save {
      background-color: #fecaca;
      color: #525252;
      cursor: auto;
   }

   .failed-save-hover {
      background-color: #ffd7d7;
      color: #525252;
      box-shadow: 0 0 50px #ffd7d7;
   }

   /* Chrome, Safari and Opera */
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }

   .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
   }
}

* {
   font-family: 'Nunito Sans', sans-serif;
}
